<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.sbbfinal.mapper.UserMapper">

    <resultMap id="UserWithRoles" type="com.mysite.sbbfinal.domain.User">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>
        <collection property="roles" ofType="com.mysite.sbbfinal.domain.Role">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
        </collection>
    </resultMap>
	<!--로그인-->
    <select id="findByUsername" resultMap="UserWithRoles">
        SELECT u.id as user_id,
               u.username,
               u.password,
               u.enabled,
               r.id as role_id,
               r.name as role_name
        FROM tusers u
                 LEFT JOIN tuser_roles ur ON u.id = ur.user_id
                 LEFT JOIN roles r ON ur.role_id = r.id
        WHERE u.username = #{username}
    </select>
    <!--회원가입(save, insertUserRole)-->
    <insert id="save" parameterType="com.mysite.sbbfinal.domain.User" 
    		useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tusers (username, password, enabled)
        VALUES (#{username}, #{password}, #{enabled})
    </insert>  
     <insert id="insertUserRole">
        INSERT INTO tuser_roles (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>
    <!--모든 유저 읽어오기-->
    <select id="findAll" resultMap="UserWithRoles">
        SELECT u.id as user_id,
               u.username,
               u.password,
               u.enabled,
               r.id as role_id,
               r.name as role_name
        FROM tusers u
                 LEFT JOIN tuser_roles ur ON u.id = ur.user_id
                 LEFT JOIN roles r ON ur.role_id = r.id
        ORDER BY u.id
    </select>
    <!--유저ID로 유저 권한(ROLES) 읽어오기-->
	<select id="findRolesByUserId" resultType="com.mysite.sbbfinal.domain.Role">
        SELECT r.id, r.name
        FROM roles r
                 JOIN tuser_roles ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId} ORDER BY id
    </select>
    <!--유저ID로 유저 정보 읽어오기(유저 이름 읽어올때 사용)-->
	<select id="findById" resultType="com.mysite.sbbfinal.domain.User">
        SELECT * FROM tusers WHERE id = #{id}
    </select>
     <!-- username으로 userId 읽어오기 -->
    <select id="getUserIdByUsername" resultType="int" parameterType="string">
        SELECT id FROM tusers WHERE username = #{username}
    </select>
    <!--모든 권한 읽어오기-->
    <select id="getAllRoles" resultType="com.mysite.sbbfinal.domain.Role">
        SELECT * FROM roles ORDER BY name
    </select>
    <!--권한 삭제하기-->
     <delete id="deleteUserRole" parameterType="com.mysite.sbbfinal.domain.User">
    	DELETE FROM tuser_roles WHERE user_id = #{userId} AND role_id = #{roleId};
    </delete>
</mapper>