<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>LOGIN</title>
</head>
<body>
	<nav>
		<ul>
			<li><a th:href="@{/}">홈</a></li>
			<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">로그인</a></li>
			<li sec:authorize="!isAuthenticated()"><a th:href="@{/signup}">회원가입</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{api/favorites}">즐겨찾기</a></li>
			<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}">사용자관리</a></li>
			<li sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="post">
					<button type="submit">로그아웃</button>
				</form>
			</li>
		</ul>
	</nav>
	<h1>로그인 하실래요?</h1>

	<div th:if="${param.error}">Invalid userName and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<form th:action="@{/login}" method="post">
		<div><label for="username">사용자명: <input type="text" name="username" /></label></div>
		<div><label for="password">비밀번호: <input type="password" name="password" /></label></div>
		<div><input type="submit" value="로그인" /></div>
	</form>

	<a th:href="@{/}">홈으로 돌아가기</a>
</body>
</html>